/* Reset styles */
* {
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ea;
}

/* Header styles */
header {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1em;
}

/* Main content styles */
.main-content {
    background-color: #4CAF50; /* Menggunakan warna hijau pada konten utama */
    padding: 80px 0;
}

.main-content-inner {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.cta-button {
    display: inline-block;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}

/* List styles */
.hospital-list,
.doctor-list {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hospital-list ul,
.doctor-list ul {
    list-style-type: none;
    padding: 0;
}

.hospital-list h3,
.doctor-list h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50;
}

.hospital-list li,
.doctor-list li {
    font-size: 1.2em;
    color: #333;
}

/* Footer styles */
footer {
    background-color: #4CAF50;
    color: white;
    padding: 1em 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
